:root {
  --spacing: 8px;
  --header-height: 48px;
  --card-width: 240px;
  --bg-card-active: #b2d6eb;
  --bg-card-hover: #cce4f2;
  --bg-main: #0079bf;
  --bg-must: #eb5a46;
  --bg-should: #f2d600;
  --bg-could: #519839;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
